<p><%= @player_1.name %> vs. <%= @player_2.name %></p>
<p></p>
<p><%= @player_2.name %> HP is: <%= @player_2.hp%></p>


<p> <h2> Player 1 would you like to attack Player 2? </h2> </p>

<form action='/result' >
	<input type='submit' value="Attack!" >
</form>
